<div class="player-wrap" id="divplayer" style="display:none">
				<div id="errorplay" class="alert alert-error hide" style="height:16px; margin-bottom:0px; padding:0px 35px 8px 14px; width:96%; margin-top:-36px;text-align:center; font-size:14px;">
                <button type="button" class="close active" onclick="$('#errorplay').hide(); return false;" aria-hidden="true"><span class="badge">OK</span> &times;</button> <span class="glyphicon glyphicon-ban-circle"></span><strong>{{ 'Oops, this stream is currently unavailable on our service, please try again later'|trans }}.</strong></div>
			<div class="container">
			
						<div class="row channel-player">
						
								<div id="playerflash" style="height:1px; width:1px;"></div>
								
								<div class="span1 album-cover" id="player_cover_div">
										<img src="{{ asset('img/album/album1.jpg') }}" alt="" width="66" height="66" />
								</div>
								
								<div id="rl_container" class="span8" >
								
									<div id="rplayer" class="jp-jplayer"></div>	
									
									<div class="controls pull-left" id="playercontrols">
										
										<a id="playButton" tabindex="1" class="s2 rl-play nogoUrl" href="javascript:;" onclick="playNewLive();return false;" >play</a>
										<a id="pauseButton" tabindex="1" class="s2 rl-pause nogoUrl" href="javascript:;" onclick="pauseStation();return false;">pause</a>
										
										
									</div>
									
									<div class="track-info pull-left">
											<div class="rl-title" id="player_onair_div">
											</div>
											
											<div class="rl-progress " id="playerprogress">										
												<div class="rl-seek-bar">
													<div class="rl-play-bar" ><span></span></div>
												</div>
											</div>
											
											<div class="rl-current-time" id="current-time"></div>
											<div class="rl-duration" id="duration"></div>
											<div class="station" id="player_station_name_div"></div>
											<div class="clearfix"></div>
									</div>
									<div id="buytrackdiv" style="position:absolute; margin-top:-4px;margin-left:66%;" class="hide">
								<a style="display:inline;" href="javascript:;" onclick="affitunesopen(); return false;" class="nogoUrl"><img src="../img/btn_buy{{ sitelang }}.png" alt="buy" style="max-width:55%;" /></a>
								</div>
									<div class="rl-volume-bar pull-left">
									
									<div class="rl-volume-bar-value" ><span></span></div>
									</div>
									<a title="mute" tabindex="1" class="s2 rl-mute nogoUrl" href="javascript:;">mute</a>
									<a title="unmute" tabindex="1" class="s2 rl-unmute nogoUrl" href="javascript:;">unmute</a>

									<div class="clearfix"></div>
								</div>
								
								<div class="sharing span3">
										
										<a href="javascript:;" onclick="goUrl(currentRadiolink); return false" title="Overview" class="s2 i-view3 nogoUrl"></a>
										<a href="javascript:;" onclick="share($('#website_root').text() + currentRadiolink+'?l={{ 'lang'|trans }}', 'facebook', ''); return false;" title="Share" class="s2 i-share3 nogoUrl"></a>
										
								
								</div>
								<div class="clearfix"></div>
						</div>
			</div>	
			
		</div>
